@if(ShowDialog)
    {
        <button type="button" class="close" @onclick="@Close">關閉
                    </button>
        <EditForm Model="@Employee" OnValidSubmit="@HandleValidSubmit"
                  OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary></ValidationSummary>
            <div class="form-group row">
                <label for="lastName" class="col-sm-3">Last name: </label>
                <InputText id="lastName" class="form-control col-sm-8" @bind-Value="@Employee.LastName" placeholder="Enter last name"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Employee.LastName)" />
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-3">First name: </label>
                <InputText id="lastName" class="form-control col-sm-8" @bind-Value="@Employee.FirstName" placeholder="Enter first name"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Employee.FirstName)" />
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-3">Job name: </label>
                <InputText id="lastName" class="form-control col-sm-8" @bind-Value="@Employee.JobName" placeholder="Enter job name"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Employee.JobName)" />
            </div>
             <button type="submit" class="btn btn-primary edit-btn">Save employee</button>
        </EditForm>
}